/* Elements */
body {
  font-family: 'Montserrat', sans-serif;
}
hr {
  width: 6%;
  background-color: #fff;
  margin: auto;
  border-style: dotted;
  border-bottom: 0;
  border-color: grey;
  border-width: 10px;
}




/* Navbar SECTION */
.hamburger {
  position: absolute;
  right: 1rem;
  top: 1rem;
}




/* Header Section */
#section_1_gradient {
  background-color: #1f6f8b;
}
#emailHelp {
  color: #fff;
}
a {
  color: #fff;
}

a:hover {
  color: #0f0f0f;
}
.video_container {
  padding: 15%;
}

@media (max-width: 1337px) and (min-width: 1080px) {
  .video_container {
    padding: 15%;
    padding-left: 0;
  }
}

@media (max-width: 1080px) {
  .video_container {
    padding: 15%;
    padding-left: 0;
  }

  .header {
    padding-right: 0;
  }
}

@media (max-width: 991px) and (min-width: 630px) {
  .video_container {
    display: inline-block;
    padding: 3% 15%;
  }

  .video_holder {
    text-align: center;
  }
}

@media (max-width: 630px) and (min-width: 545px) {
  .video_container {
    display: inline-block;
    padding: 3% 9%;
  }

  .video_holder {
    text-align: left;
  }
}

@media (max-width: 545px) {
  .video_container {
    display: inline-block;
    padding: 3% 1%;
  }

  .video_holder {
    text-align: left;
  }
}

.header {
  padding: 3% 10%;
}



/* Standards of Awesomeness section */

#middle_section {
  padding: 4%;
}
#middle_section .section_2_header {
  text-align: center;
}
.horse-image {
  width: 10%;
  height: 10%;
}
h5 {
  font-family: 'Langar', cursive;
  font-size: 2rem;
}
.card-text {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}
.cardbox {
  padding: 5%;
  text-align: center;
}





/* INFORMATION SECTION */
#Info {
  margin: 3% 0 0;
  padding: 5%;
  background-color: #aee6e6;
}
.infotext {
  text-align: center;
  font-size: 1.5rem;
  text-shadow: #1e5f74 1px 0 10px;
}



/* FOOTER section */
#footsy {
  background-color: #222831;
  padding: 3%;
  padding-bottom: 0;
}
.footertext {
  line-height: 0.5;
  text-align: center;
  color: #fff;
}
